.footer__columns {
    justify-content: space-between;
    display: flex;
    min-width: 350px;
    width: 90%;
    display: flex;
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 40px;
}